<div ng-controller="FropFormCtrl" id="formDiv">
	<div class="page-header">
		<h1>Vos données</h1>
	</div>
	<div class="row">

		<div class="col-sm-6 col-sm-offset-3">

			<form class="form-horizontal" role="form" name="fropForm"
				 ng-submit="submit()" novalidate>
				<div class="form-group" ng-class="{'has-error': showErrors && fropForm.income.$invalid}">
					<label for="inputIncome" class="col-sm-6 control-label">Revenus nets 2014
					<span class="glyphicon glyphicon-question-sign"></span></label>
					<div class="col-sm-6">
						<input type="number" class="form-control" name="income"
							id="inputIncome" placeholder="Revenus" ng-model="model.income" 
							min=0 max="1000000" step="100" ng-required="true" />
						
						<div class="text-danger" ng-show="showErrors && fropForm.income.$invalid">
							<span class="error" ng-show="fropForm.income.$error.required">Veuillez saisir un revenu.</span>
  							<span class="error" ng-show="fropForm.income.$error.number">Veuillez saisir un nombre.</span>
  							<span class="error" ng-show="fropForm.income.$error.min">Veuillez saisir un nombre supérieur à 0.</span>
  							<span class="error" ng-show="fropForm.income.$error.max">Veuillez saisir un nombre inférieur à 1000000.</span>
						</div>
						
					</div>
				</div>
				<div class="form-group" ng-class="{'has-error': showErrors && fropForm.fiscalPower.$invalid}">
					<label for="inputPuissance" class="col-sm-6 control-label"
						title="Puissance fiscale du véhicule utilisé pour vos trajets professionnels">
						Puissance fiscale
						<span class="glyphicon glyphicon-question-sign"></span></label>
					<div class="col-sm-6">
						<select class="form-control" id="inputPuissance" name="fiscalPower"
							ng-model="model.fiscalPower" ng-options="elt.label for elt in fiscalPowerList"
							ng-required="true">
							<option label="Puissance fiscale..."></option>
						</select>
						<div class="text-danger" ng-show="showErrors && fropForm.fiscalPower.$invalid">
							<span class="error" ng-show="fropForm.fiscalPower.$error.required">Veuillez saisir la puissance fiscale de votre véhicule.</span>
						</div>
					</div>
				</div>
				<div class="form-group" ng-class="{'has-error': showErrors && fropForm.kilometers.$invalid}">
					<label for="inputKm" class="col-sm-6 control-label"
						title="Kms parcourus en 1 an pour votre emploi">Kms parcourus 
						<span class="glyphicon glyphicon-question-sign"></span></label>
					<div class="col-sm-6">
						<input type="number" class="form-control" id="inputKm" name="kilometers"
							placeholder="Kms parcourus" ng-model="model.kilometers"
							min=0 max="1000000" step="100" ng-required="true" >
							
						<div class="text-danger" ng-show="showErrors && fropForm.kilometers.$invalid">
							<span class="error" ng-show="fropForm.kilometers.$error.required">Veuillez saisir un kilométrage.</span>
  							<span class="error" ng-show="fropForm.kilometers.$error.number">Veuillez saisir un nombre.</span>
  							<span class="error" ng-show="fropForm.kilometers.$error.min">Veuillez saisir un nombre supérieur à 0.</span>
  							<span class="error" ng-show="fropForm.kilometers.$error.max">Veuillez saisir un nombre inférieur à 1000000.</span>
						</div>
					</div>
				</div>
				<div class="form-group" ng-class="{'has-error': showErrors && fropForm.foodPrice.$invalid}">
					<label for="inputFraisRepas" class="col-sm-6 control-label"
						title="Frais de repas pour votre emploi">Frais de repas
						<span class="glyphicon glyphicon-question-sign"></span></label>
					<div class="col-sm-6">
						<input type="number" class="form-control" name="foodPrice"
							id="inputFraisRepas" placeholder="Frais de repas"
							ng-model="model.foodPrice" min=0 max="100000" step="100" ng-required="true">
						<div class="text-danger" ng-show="showErrors && fropForm.foodPrice.$invalid">
							<span class="error" ng-show="fropForm.foodPrice.$error.required">Veuillez saisir le montant de vos frais repas.</span>
  							<span class="error" ng-show="fropForm.foodPrice.$error.number">Veuillez saisir un nombre.</span>
  							<span class="error" ng-show="fropForm.foodPrice.$error.min">Veuillez saisir un nombre supérieur à 0.</span>
  							<span class="error" ng-show="fropForm.foodPrice.$error.max">Veuillez saisir un nombre inférieur à 100000.</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="text-center">
						<button type="submit" class="btn btn-primary">Calculer !</button>
					</div>
				</div>
			</form>

		</div>
	</div>
</div>