<div ng-controller="FropFormCtrl" id="formDiv">
	<div class="page-header">
		<h1>Vos données</h1>
	</div>
	<div class="row">

		<div class="col-sm-6 col-sm-offset-3">

			<form class="form-horizontal" role="form" name="fropForm"
				 ng-submit="submit()" novalidate>
				<div class="form-group">
					<label for="inputIncome" class="col-sm-4 control-label">Revenus</label>
					<div class="col-sm-8">
						<input type="number" class="form-control" name="income"
							id="inputIncome" placeholder="Revenus" ng-model="model.income" 
							min=0 max="1000000" ng-required="true" />
						
						<div class="text-danger" ng-show="showErrors && fropForm.income.$invalid">
							<span class="error" ng-show="fropForm.income.$error.required"> Required!</span>
  							<span class="error" ng-show="fropForm.income.$error.number"> Not number </span>
  							<span class="error" ng-show="fropForm.income.$error.min"> min </span>
  							<span class="error" ng-show="fropForm.income.$error.max"> max </span>
						</div>
						
					</div>
				</div>
				<div class="form-group">
					<label for="inputPuissance" class="col-sm-4 control-label"
						title="Puissance fiscale du véhicule en CV">Puissance
						fiscale</label>
					<div class="col-sm-8">
						<select class="form-control" id="inputPuissance" name="fiscalPower"
							ng-model="model.fiscalPower" ng-options="elt.label for elt in fiscalPowerList"
							ng-required="true">
							<option label="Puissance fiscale..."></option>
						</select>
						<div class="text-danger" ng-show="showErrors && fropForm.fiscalPower.$invalid">
							<span class="error" ng-show="fropForm.fiscalPower.$error.required"> Required!</span>
						</div>
					</div>
				</div>
				<div class="form-group has-error">
					<label for="inputKm" class="col-sm-4 control-label"
						title="Kms parcourus en 1 an pour votre emploi">Kms
						parcourus</label>
					<div class="col-sm-8">
						<input type="number" class="form-control" id="inputKm" name="kilometers"
							placeholder="Kms parcourus" ng-model="model.kilometers"
							min=0 max="1000000" ng-required="true" >
							
						<div class="text-danger" ng-show="showErrors && fropForm.kilometers.$invalid">
							<span class="error" ng-show="fropForm.kilometers.$error.required"> Required!</span>
  							<span class="error" ng-show="fropForm.kilometers.$error.number"> Not number </span>
  							<span class="error" ng-show="fropForm.kilometers.$error.min"> min </span>
  							<span class="error" ng-show="fropForm.kilometers.$error.max"> max </span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="inputFraisRepas" class="col-sm-4 control-label"
						title="Frais de repas pour votre emploi">Frais de repas</label>
					<div class="col-sm-8">
						<input type="number" class="form-control" name="foodPrice"
							id="inputFraisRepas" placeholder="Frais de repas"
							ng-model="model.foodPrice" min=0 max="100000" ng-required="true">
						<div class="text-danger" ng-show="showErrors && fropForm.foodPrice.$invalid">
							<span class="error" ng-show="fropForm.foodPrice.$error.required"> Required!</span>
  							<span class="error" ng-show="fropForm.foodPrice.$error.number"> Not number </span>
  							<span class="error" ng-show="fropForm.foodPrice.$error.min"> min </span>
  							<span class="error" ng-show="fropForm.foodPrice.$error.max"> max </span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="text-center">
						<button type="submit" class="btn btn-primary">Calculer !</button>
					</div>
				</div>
			</form>

		</div>
	</div>
</div>