<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html ng-app>
<head>
<title>FROP</title>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css"
	media="all" />
<link href="css/bootstrap-theme.css" rel="stylesheet" type="text/css"
	media="all" />
<link href="css/theme.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/todo.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="js/jquery-1.11.1.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/angular.js"></script>
<script type="text/javascript" src="js/todo.js"></script>
<script type="text/javascript" src="js/highcharts.js"></script>
<script type="text/javascript" src="js/exporting.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</head>

<body role="document">

	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Bootstrap theme</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#contact">Contact</a></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown">Dropdown <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li class="divider"></li>
							<li class="dropdown-header">Nav header</li>
							<li><a href="#">Separated link</a></li>
							<li><a href="#">One more separated link</a></li>
						</ul></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>

	<div class="container theme-showcase" role="main">

		<!-- Main jumbotron for a primary marketing message or call to action -->
		<div class="jumbotron">
			<h1>Frais réels ! Ou pas ...</h1>
			<p>"Frais réels ! ou pas ..." vous permet de déterminer s'il vous
				est intéressant de passer au régime des frais réels ou de rester à
				la déduction de 10% appliquée par défaut.</p>
			<p>
				<a href="#" class="btn btn-primary btn-lg" role="button">Commencer
					la simulation !</a>
			</p>
		</div>



		<div class="page-header">
			<h1>Vos données</h1>
		</div>
		<div class="row">

			<div class="col-sm-6 col-sm-offset-3">

				<form class="form-horizontal" role="form" ng-controller="FropFormCtrl" ng-submit="submit()">
					<div class="form-group">
						<label for="inputIncome" class="col-sm-4 control-label">Revenus</label>
						<div class="col-sm-8">
							<input type="number" class="form-control" id="inputIncome"
								placeholder="Revenus" ng-model="fropIncome"/>
						</div>
					</div>
					<div class="form-group">
						<label for="inputPuissance" class="col-sm-4 control-label"
							title="Puissance fiscale du véhicule en CV">Puissance
							fiscale</label>
						<div class="col-sm-8">
							<select class="form-control" id="inputPuissance" ng-model="fropFiscalPower">
								<option>Puissance fiscale</option>
								<option value="3">&lt;= 3 CV</option>
								<option value="4">4 CV</option>
								<option value="5">5 CV</option>
								<option value="6">6 CV</option>
								<option value="7">&gt;= 7 CV</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="inputKm" class="col-sm-4 control-label"
							title="Kms parcourus en 1 an pour votre emploi">Kms
							parcourus</label>
						<div class="col-sm-8">
							<input type="number" class="form-control" id="inputKm"
								placeholder="Kms parcourus" ng-model="fropKilometers">
						</div>
					</div>
					<div class="form-group">
						<label for="inputFraisRepas" class="col-sm-4 control-label"
							title="Frais de repas pour votre emploi">Frais de repas</label>
						<div class="col-sm-8">
							<input type="number" class="form-control" id="inputFraisRepas"
								placeholder="Frais de repas" ng-model="fropFoodPrice">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-5 col-sm-2">
							<button type="submit" class="btn btn-primary">Calculer !</button>
						</div>
					</div>
				</form>
			</div>
		</div>

		<div class="page-header">
			<h1>Résultats</h1>
		</div>


		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<ul class="list-group">
					<li class="list-group-item"><strong>Vos données</strong></li>
					<li class="list-group-item">Revenus annuels : 21000 €</li>
					<li class="list-group-item">Puissance fiscale du véhicule :
						&gt;= 7 CV</li>
					<li class="list-group-item">Kilomètres parcourus en 1 an :
						22000 km</li>
					<li class="list-group-item">Frais de repas en 1 an : 5000€</li>
				</ul>
			</div>
		</div>


		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<ul class="list-group">
					<li class="list-group-item alert-warning">
					<strong>Pour vous, il est plus intéressant de passer au frais réels. Blablabla blablabla</strong></li>
					<li class="list-group-item alert-warning">Pour ce niveau de revenus, le
						régime des frais réels est interessant à partir d'une distance
						annuelles de 15000 km.</li>
					<li class="list-group-item alert-warning">Pour ce kilométrage, le régime des
						frais réels est interessant à partir d'un revenu annuel de 25000
						€.</li>
				</ul>
			</div>
		</div>

		<div id="chart-div" style="height: 400px; margin: 0 auto"></div>

	</div>
	<!-- /container -->

</body>
</html>