body {
	margin-top: 50px;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400
}

h1,h2,h3,h4,h5,h6,.navbar-brand,.brand-name {
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400
}

.sb-page-header {
	position: relative;
	padding: 30px 15px;
	text-align: center;
	background-color: #dff0d8;
	background-image: url(../images/header-bg2.png);
	margin-bottom: 40px;
	font-size: 20px
}

.sb-page-header h1 {
	margin-top: 0;
}

.sb-page-header p {
	margin-bottom: 0;
	line-height: 1.4
}

.sb-page-header .container {
	position: relative
}

@media ( min-width :768px) {
	.sb-page-header {
		padding-top: 60px;
		padding-bottom: 60px;
		text-align: left;
		font-size: 24px
	}
	.sb-page-header h1 {
		font-size: 60px;
		line-height: 1
	}
}






.frop-fraisreels-yes{
/* 	background-image: linear-gradient(to bottom, #fcf8e3 0%, #f8efc0 100%); */
/* 	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fff8efc0', GradientType=0); */
/* 	background-repeat: repeat-x; */
/* 	border-color: #f5e79e; */
/* 	color : #8a6d3b; */
	background-color: #dff0d8;
}
.frop-fraisreels-no{
/* 	background-image: linear-gradient(to bottom, #fcf8e3 0%, #f8efc0 100%); */
/* 	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fff8efc0', GradientType=0); */
/* 	background-repeat: repeat-x; */
/* 	border-color: #f5e79e; */
/* 	color : #8a6d3b; */
	background-color: #f2dede;
}